html, body,h1,h2.h3.h4,h5 {font-family: "Roboto", sans-serif;}

header {
    background-color: gray;
    padding: 10px;
    text-align: center;
}
nav {
    justify-content: center;
}

body {
    background-color: #343a40;
}

.table {
    background-color: lightgrey;
}